/node_modules/*
!node_modules/react-scripts
/node_modules/react-scripts/*
!/node_modules/react-scripts/config
/node_modules/react-scripts/config/*
!/node_modules/react-scripts/config/webpack.config.dev.js
!/node_modules/react-scripts/config/webpack.config.prod.js
/yojne
/src_ok*
/src_mod*

